<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <!-- Address -->
  <div class="field">
    <%= f.label :address_city %>
    <%= f.text_field :address_city %>
  </div>

  <div class="field">
    <%= f.label :address_state %>
    <%= f.text_field :address_state %>
  </div>

  <!-- DateRange -->
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <!-- Grading -->
  <div class="field">
    <%= f.label :score %>
    <%= f.number_field :score %>
  </div>

  <!-- Money -->
  <div class="field">
    <%= f.label :cents %>
    <%= f.number_field :cents %>
  </div>

  <div class="field">
    <%= f.label :currency %>
    <%= f.select :currency, ['eur', 'dollare'] %>
  </div>

  <!-- Color -->
  <div class="field">
    <%= f.label :color_theme %>
    <%= f.select :currency, ['black', 'green', 'blue'] %>
  </div>

  <!-- Size -->
  <div class="field">
    <%= f.label :size %>
    <%= f.select :size, ['small', 'medium', 'big'] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
